body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(90.1deg, #db8798 26.02%, #94a0dd 99.98%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.wrapper {
  width: calc(100vw - 100px);
  height: 100%;
  margin: 20px auto;
  max-width: 1400px;
}

.header {
  display: flex;
  justify-content: space-around;
}

.userlist {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  &__item {
    position: relative;
    display: flex;
    justify-content: start;
    box-sizing: border-box;
    touch-action: manipulation;
    height: 180px;
    min-width: 250px;
    box-shadow: rgba(2, 5, 3, 0.2) 0px 4px 20px;
    -webkit-box-align: center;
    align-items: center;
    font: inherit;
    margin: 15px 15px 3px 0px;
    padding: 8px;
    background: rgb(192, 147, 147);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(95, 76, 76);
    border-image: initial;
    border-radius: 12px;
    padding: 15px;
    transition: box-shadow 350ms ease-out 0s, border;
    &:hover {
      box-shadow: rgba(83, 168, 4, 0.9) 0px 4px 20px;
    }
    &-left {
      margin-right: 15px;
      p {
        font-size: 14px;
        font-weight: 700;
        line-height: 15px;
      }
    }
    &-right {
      p {
        font-size: 14px;
        line-height: 15px;
      }
    }
    &-right-inputs {
      display: flex;
      flex-direction: column;
      &-item {
        margin: 4px 0;
        width: 120px;
        border-radius: 7px;
      }
    }
    &-button_delete {
      position: absolute;
      right: 3px;
      bottom: 3px;
      background-color: rgb(192, 147, 147);
      border: none;
      cursor: pointer;
      outline: none;
    }
    &-button_editor {
      position: absolute;
      right: 3px;
      top: 3px;
      background-color: rgb(192, 147, 147);
      border: none;
      cursor: pointer;
      outline: none;
    }
  }
}

.modal {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0,0,0, 0.4);
  top: 0;
  left: 0;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: 0.8s;
  z-index: 1000;
  overflow: auto;

}

.modal.active {
  opacity: 1;
  pointer-events: all;
  inset: 0px;
}

.modal__content {
  padding: 30px;
  border-radius: 12px;
  background-color: white;
  min-height: 300px;
  width: 450px;
  transform: scale(0.5);
  transition: 0.7s all;
  text-align: center;
  &-form {
    display: flex;
    justify-content: center;
    &-left {
      width: 200px;
      text-align: left;
      p {
        margin: 30px 0;
        font-size: 17px;
      }
    }
    &-input {
      margin: 15px 0;
    }
  }
  &-button {
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    color: white;
    padding: 20px 30px;
    margin: 10px 20px;
    border-radius: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-image: linear-gradient(to right, #9EEFE1 0%, #4830F0 51%, #9EEFE1 100%);
    background-size: 200% auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);
    transition: .5s;
    &:hover {
      background-position: right center;
    }
  }
}

.modal__content.active {
  transform: scale(1);
}

.cl-btn-4 {
  left: 274px;    
  width: 40px;
  height: 40px;
  box-shadow: 0px 10 10px 10px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  background: #b76833;
  margin: 0 auto;
  position: relative;
  display: block;
  z-index: 200;
  text-indent: -9999px;
  cursor: pointer;
}
.cl-btn-4:before,
.cl-btn-4:after {
  content: '';
  width: 80%;
  height: 6px;
  background: #ffffff;
  position: absolute;
  top: 48%;
  left: 10%;
  transform: rotate(45deg);
  transition: all 0.3s ease-out;
}
.cl-btn-4:after {
  transform: rotate(-45deg);
  transition: all 0.3s ease-out;
}
.cl-btn-4:hover:before,
.cl-btn-4:hover:after {
  transform: rotate(180deg);
  background: #FFF; 
}